{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
       {% if request.user.is_authenticated %}
        <p>Email: {{user.email}} </p>
        <p>Username: {{user.username}} </p>
        <p>Имя: {{user.first_name}} </p>
        <p>Фамилия: {{user.last_name}} </p>
        <p>Номер телефона: {{user.phone_number}}</p>
        <p>Дата рождения: {{user.date_of_birth}} </p>




        <a href="{% url 'edit_profile'  user.id %}" class="btn btm-sm btn-warning">Редактировать</a>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-3">На главную</a>


       {% endif %}
<!--        <p>Категория: {{ product.category.name }}</p>-->
<!--        <p>Описание: {{product.description}}</p>-->
<!--        <p>Цена: {{product.price}}</p>-->
<!--        <hr>-->
<!--        <h2>Теги</h2>-->
<!--        <ul class="list-group">-->
<!--            {% for tag in tags %}-->
<!--                 <li class="list-group-item">-->
<!--                     <h3> {{ tag.product.name }}</h3>-->
<!--                     <p> {{ tag.name }}</p>-->
<!--                 </li>-->
<!--            {% empty %}-->
<!--                <li class="list-group-item">Нет тегов</li>-->

<!--            {% endfor %}-->
<!--        </ul>-->

<!--        <hr>-->
<!--        <h2>Коментарии</h2>-->
<!--        <ul class="list-group">-->
<!--            {% for сomment in comments %}-->
<!--                 <li class="list-group-item">-->
<!--                     <h3> {{ сomment.author.name }}</h3>-->
<!--                     <p> {{ сomment.text }}</p>-->
<!--                 </li>-->
<!--            {% empty %}-->
<!--                <li class="list-group-item">Нет коментариев</li>-->

<!--             {% endfor %}-->
<!--        </ul>-->
{% endblock %}