{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}



        <p>Username: {{profile_detail.author.username}} </p>
        <p>О себе: {{profile_detail.bio}} </p>
        <p>Дата рождения: {{profile_detail.author.date_of_birth}} </p>
        <p>Дата рождения: {{profile_detail.author.phone_number}} </p>




        <a href="{% url 'edit_profile'  user.id %}" class="btn btm-sm btn-warning">Редактировать</a>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-3">На главную</a>





{% endblock %}