{% extends "base.html" %}
{% block title %}Чат{% endblock %}

{% block content %}

    <h1>Чат {{ recipient.email }}</h1>
    <div>
        {% for message in chat_messages %}
            <p class="fw-bold">{{ message.sender.email }} @ {{ message.created_at }}</p>
            <p>{{ message.body }}</p>
        {% empty %}
            <p>Чатский пуст</p>
        {% endfor %}
    </div>

    <form method="post" action="{% url 'chat-send' recipient.id %}" class="mt-4" >
        {% csrf_token %}
        <input type="text" style="width: 100%" name="body" autofocus />
    </form>
{% endblock %}