{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<h1>Список людей, которым можно поныть</h1>
        <ul class="list-group">
            {% for profile in profiles %}
                 <li class="list-group-item">
                     <p><a href="{% url 'chat' profile.user.pk %}">{{ profile.user.email }}</a></p>
                 </li>
            {% empty %}
                <li class="list-group-item">Нет господ, некому брауни помыть</li>

             {% endfor %}
        </ul>
{% endblock %}